
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cooper";
  src: url("/fonts/cooper/CooperLtBT-Regular.ttf") format('truetype');
  font-weight: 100 900; /* Defines the variable weight range */
  font-style: normal;
}


:root {
  --clr-base: #fff;
  --clr-base-text: #353232;
  --clr-blue-base:#6182FF;
}

:root.dark {
  --clr-base: #121213;
  --clr-base-text: #F9F8F8;
  --clr-blue-base: #6182FF;
}

body {
  background-color: var(--clr-base);
  color: var(--clr-base-text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight:500;
}

svg {
  color: var(--clr-base-text)
}

a {
  cursor:pointer;
}

input {
  background-color:transparent;
  border: solid 1px var(--clr-base-accent);
}

input:focus {
  outline:none;
}