@layer base {
  :root {
    --radius: 0.5rem;
    --clr-base: #fff;
    --clr-base-text: #353232;
    --clr-blue-base: #6182FF;
    --navbar-height: 72px;
    --footer-height: 60px;
  }

  .dark {
    --clr-base: #121213;
    --clr-base-text: #F9F8F8;
    --clr-blue-base: #6182FF;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cooper";
  src: url("/fonts/cooper/CooperLtBT-Regular.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  background-color: var(--clr-base);
  color: var(--clr-base-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

svg {
  color: var(--clr-base-text);
  transition: color 0.3s ease;
}

a {
  cursor: pointer;
}

input {
  background-color: transparent;
  border: solid 1px var(--clr-base-accent);
}

input:focus {
  outline: none;
}